In [1]:
# Define the function "say_hello" so it prints "Hello!" when called.
def say_hello():
    print("Hello!")

In [2]:
# Call the function.
say_hello()

Hello!

In [7]:
# Now we'll build on our knowledge of functions 
# and add a parameter inside the parentheses of a new function, say_something(). 
# A parameter is a value that we send to the function.

# Define the function "say_something" so it prints whatever is passed as the variable when called.
def say_something(something):
    print(something)

# Call the function by defining what is the variable "something"; in this case, let's say it is "Hello World!"
say_something("Hello World!")

Hello World!

In [8]:
# We can also pass a variable inside the function, and have that variable printed to the output

# First, initiate the variable
Jane_says = "Hi, my name is Jane. I'm learning Python!"
# Call the function by adding the variable inside the say_something() function
say_something(Jane_says)

Hi, my name is Jane. I'm learning Python!

In [9]:
# The Pandas map() function
# Used for substituting each value in a Series with another value. 
# Where the new value is generated from a function, a dictionary, or a Series.

In [10]:
# A list of my grades.
my_grades = ['B', 'C', 'B' , 'D']

In [11]:
# Import pandas and convert the list into a Series.
import pandas as pd
# Convert the my_grades to a Series
my_grades = pd.Series(my_grades)
my_grades

0    B
1    C
2    B
3    D
dtype: object

In [12]:
# Using the map() function we are going to change B to A, C to B, and D to C. 
# To change each string value in this Series to another value using the following format.

# map("current_value_1" : "new_value_1",  "current_value_2" : "new_value_2", etc)

In [13]:
# Change the grades by one letter grade.
my_grades.map({'B': 'A', 'C': 'B', 'D': 'C'})

0    A
1    B
2    A
3    C
dtype: object

In [14]:
# The Python format() Function

# Used to format a value to a specific format, such as one or two decimal places, or adding a thousands separator.

# This function follows this syntax: 

# "{value:format specification}".format(value)

In [15]:
# Using the format() function.
my_grades = [92.34, 84.56, 86.78, 98.32]

for grade in my_grades:
    print("{:.0f}".format(grade))

# Iterate through the grades.
# Pass the grade variable inside the format() function.
# Specify the format for the grade variable we would like by using {:.0f}.
# # In this format, the grade variable is referenced in front of the colon, so there is no need to add the grade variable.
# # After the colon, the .0f means to format the grade with no decimal place, 
# # where the "period" is for the decimal place, the "0" is for "no" decimal place,
# # and the "f" means floating-point decimal. 

# If we wanted to format to one decimal place, we would use 1 instead of 0, and 2 for two decimal places, and so on.

92
85
87
98

In [16]:
# Chaining the map() and format() Functions

# First, convert the numerical grades to a Series.
my_grades = pd.Series([92.34, 84.56, 86.78, 78.32])
my_grades

0    92.34
1    84.56
2    86.78
3    78.32
dtype: float64

In [17]:
# Format the grades to the nearest whole number percent.
my_grades.map("{:.0f}".format)

0    92
1    85
2    87
3    78
dtype: object